@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #EC8B5E;
    background-color: #141A46;
    margin-left: 75px;
	margin-right: 75px;
}

header, footer{
    text-align: center;
    color: #EC8B5E;
}

h1, h2, h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: ivory;
}

a:hover {
    text-decoration: underline;
}

.figprofile {
    text-align: center;
}

figcaption {
    font-style: italic;
    text-align: center;
}

nav {
    text-align: center;
}

.centerlist {
    margin-left: 10%;
    margin-right: 10%;
}

ol {
    margin-left: 35%;
    margin-right: 35%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.right {
    text-align: right;
}

th {
    background-color: black;
    color: white;
}

tr:nth-child(odd) {
    background-color: #EC8B5E;
    color: black;
}

tr:nth-child(even) {
    background-color: white;
    color: black;
}

.submitbtn {
    background-color: black;
    color: white;
}

form {
  text-align: center;
}

form input {
    font-family: 'Roboto', sans-serif;
    color:white;
    background-color: black;
    text-align: center;
}

p {
    text-align: center;
}

