@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
    
header, footer{
    text-align: center;
    color: black;
}

header {
    background-color: #006a4e;
    color: white;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #f42a41;
    border-radius: 50%;
    display: inline-block;
  }

nav {
    text-align: center;
}

a {
    text-decoration: none;
    color: #f42a41;
}

a:hover {
    text-decoration: underline;
}

h1, h2{
    text-align: center;
}

body {
    font-family: 'Oxygen', sans-serif;
    color: black;
    background-color: whitesmoke;
    margin-left: 15%;
    margin-right: 15%;
}

.imageGallery {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.imageGallery img {
    flex-shrink: 0;
}

.centerText {
    text-align: center;
}

#featuredrecipes {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.bxslider {
    text-align: center;
}

.bxslider img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
}

#search {
    margin-left: 40%;
    font-size: large;
}

#accordion {
    font-family: 'Oxygen', sans-serif;
}

#accordion .ui-accordion-header {
    background-color: #006a4e;
    color: white;
}

